@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --font-body: var(--font-inter);
    --font-logo: var(--font-kaushan);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-surface-canvas text-neutral-dark font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-sans font-bold tracking-tight text-black;
  }
}
